.projects-containers{
 width: fit-content;
 width: -moz-fit-content;
}

.projects-details-container{
 width: -moz-fit-content;
 width: fit-content;
}

#about-text {

  /* width: ; */
}

.make-me-fit {
  display: flex;
}

#about {
  .section-container {
    margin-top: auto;
  }
}
#projects {
  /* overflow: none; */
  
  .projects-details-container {
    height: auto;
    margin-right: auto;
  }
  .projects-containers {
    height: auto;
  }
}


@media screen and (min-width: 1281px) {
  #projects {
    .projects-containers {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
    }
  } 
}
@media screen and (max-width: 1280px) {
  #projects {
    .projects-containers {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      
    }
  } 
  #experience,
  .experience-details-container {
    margin-bottom: rem;
  }
}
@media screen and (max-width: 768px) {
  #projects {
    .projects-containers {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      
    }
  } 
}


@media screen and (max-width: 2000px) {
  #experience {
    margin-bottom: auto;
  }
  #projects {
    padding-top: 100px;
    margin-top: 100px;
    height: 100vh;
    margin-bottom: 6rem;
    margin-top: auto;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
    height: auto; /* Fallback for browsers that do not support fit-content */
  }
  
}

@media screen and (max-width: 1400px) {
  #about {
    padding-top: -10%;
    margin-top: auto;
  }
  #profile {
    height: 83vh;
    margin-bottom: 1rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
    height: auto; /* Fallback for browsers that do not support fit-content */
    width: -moz-fit-content;
    width: fit-content;
    width: auto;
  }
  
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
    height: auto; /* Fallback for browsers that do not support fit-content */

  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  #projects {
    padding-top: 10%;
    margin-top: auto;
    height: 100vh;
    margin-bottom: 6rem;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    height: auto; /* Fallback for browsers that do not support fit-content */

    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }

  
}
